/*
 * 4.0 Navigation
 */

.navbar-custom {
	border: 0;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #000;
	transition: all 0.2s linear 0s;


	/*orestes*/
	.navbar-solid .nav>li>a{
	  color: #4d4d4d;
	}

	.navbar-nav {
		li {
			margin: 0;
		}
		>li>a {
			color: #fff;
			text-transform: uppercase;
			font-size: 12px;
			font-weight: 400;
			border-bottom: 1px solid transparent;

			&:focus,
			&:hover {
				background-color: transparent;
				border-color: rgba(255, 255, 255, 0.5);
			}
		}

		>.active>a {
			border-color: rgba(255, 255, 255, 0.5);
		}
	}
}

.navbar-toggle {
	border: 0;
	border-radius: 0;
	margin-top: 2px;

	.icon-bar {
		background-color: #fff;
	}
}

.navbar-solid {
	background-color: #000 !important;
	padding: 0 !important;
	transition: all 0.2s linear 0s;
}

.site-branding {
    float: left;
    margin-top: 0;
    margin-left: 10px;

    .logo {
	    color: #fff;
	    font-size: 14px;
	    font-weight: 700;
	    margin-right: 5px;
	    letter-spacing: 3px;
	    text-transform: uppercase;

		&:focus,
		&:hover {
			text-decoration: none;
		}
	}
}

/*
 * 5.0 Site Header
 * header.jpg
 */

.site-header {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	position: relative;
	text-align: center;
	background: url(../images/backgrounds/fondo.jpg) no-repeat center center / cover;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.5);
	}

	.intro {
		color: #fff;
		position: relative;
		text-align: center;
		text-transform: uppercase;
  		width: 100%;
		z-index: 1;
		padding: 0 15px;

		h2 {
			margin-top: 0px;
			font-size: 25px;
			font-weight: 300;
		}

		h1 {
			margin-top: 0px;
			font-size: 30px;
		}

		p {
			font-size: 20px;
			margin-bottom: 10px;
			font-weight: 300;
		}
	}
}

@media (min-width:768px) {
	.navbar-custom {
		background-color: transparent;
		padding-top: 30px;
	}

	.site-branding {
		margin-top: 6px;
		margin-left: 0;
	}
}
